<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nara.metro.da.mybatis.mapper.MetroMapper">

    <insert id="insert">
        INSERT INTO MT_METRO (
            ID,
            NAME,
            MEMO,
            PAVILION_SEQUENCE,
            CITIZEN_SEQUENCE,
            ADMINS_JSON,
            TIME,
            ENTITY_VERSION
        ) VALUES (
            #{id},
            #{name},
            #{memo},
            #{pavilionSequence},
            #{citizenSequence},
            #{admins, javaType=AdminList, jdbcType=VARCHAR},
            #{time},
            #{entityVersion}
        )
    </insert>

    <select id="exists" resultType="boolean">
        SELECT EXISTS(SELECT 1
                      FROM MT_METRO
                      WHERE ID = #{id})
    </select>

    <select id="existByName" resultType="boolean">
        SELECT EXISTS(SELECT 1
                      FROM MT_METRO
                      WHERE NAME = #{name})
    </select>

    <resultMap id="MetroMap" type="Metro">
        <result column="ID" property="id"/>
        <result column="NAME" property="name"/>
        <result column="MEMO" property="memo"/>
        <result column="PAVILION_SEQUENCE" property="pavilionSequence"/>
        <result column="CITIZEN_SEQUENCE" property="citizenSequence"/>
        <result column="ADMINS_JSON" property="admins" javaType="AdminList" jdbcType="VARCHAR"/>
        <result column="TIME" property="time"/>
        <result column="ENTITY_VERSION" property="entityVersion"/>
    </resultMap>

    <select id="findOne" resultMap="MetroMap">
        SELECT
            ID,
            NAME,
            MEMO,
            PAVILION_SEQUENCE,
            CITIZEN_SEQUENCE,
            ADMINS_JSON,
            TIME,
            ENTITY_VERSION
        FROM
            MT_METRO
        WHERE
            ID = #{id}
    </select>

    <select id="findAll" resultMap="MetroMap">
        SELECT
            ID,
            NAME,
            MEMO,
            PAVILION_SEQUENCE,
            CITIZEN_SEQUENCE,
            ADMINS_JSON,
            TIME,
            ENTITY_VERSION
        FROM
            MT_METRO
    </select>

    <update id="update">
        UPDATE MT_METRO
        SET
            NAME              = #{name},
            MEMO              = #{memo},
            PAVILION_SEQUENCE = #{pavilionSequence},
            CITIZEN_SEQUENCE  = #{citizenSequence},
            ADMINS_JSON       = #{admins, javaType=AdminList, jdbcType=VARCHAR},
            TIME              = #{time},
            ENTITY_VERSION    = #{entityVersion}
        WHERE
            ID = #{id}
    </update>

    <delete id="delete">
        DELETE FROM MT_METRO
        WHERE
            ID = #{id}
    </delete>
</mapper>