<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nara.metro.da.mybatis.mapper.MetroBookMapper">
    <insert id="insert">
        INSERT INTO MT_METRO_BOOK (
            ID,
            SEQUENCE
        ) VALUES (
            #{id},
            #{sequence}
        )
    </insert>

    <select id="exists" resultType="boolean">
        SELECT EXISTS(SELECT 1
                      FROM MT_METRO_BOOK
                      WHERE ID = #{id})
    </select>

    <select id="findOne" resultType="MetroBook">
        SELECT
            ID,
            SEQUENCE
        FROM
            MT_METRO_BOOK
        WHERE
            ID = #{id}
    </select>

    <update id="update">
        UPDATE MT_METRO_BOOK
        SET
            SEQUENCE = #{sequence}
        WHERE
            ID = #{id}
    </update>
</mapper>