<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nara.metro.da.mybatis.mapper.DisqualifiedCitizenMapper">

    <insert id="insert">
        INSERT INTO MT_DISQUALIFIED_CITIZEN (
            ID,
            SEQUENCE,
            NAME_JSON,
            DISPLAY_NAME,
            EMAIL,
            PHONE,
            GUEST,
            TIME,
            DISQUALIFIED_TIME,
            METRO_ID,
            ENTITY_VERSION
        ) VALUES (
            #{id},
            #{sequence},
            #{name, javaType=Name, jdbcType=VARCHAR},
            #{name.displayName},
            #{email},
            #{phone},
            #{guest},
            #{time},
            #{disqualifiedTime},
            #{metroId},
            #{entityVersion}
        )
    </insert>

    <select id="exists" resultType="boolean">
        SELECT EXISTS(SELECT 1
                      FROM MT_DISQUALIFIED_CITIZEN
                      WHERE ID = #{id})
    </select>

    <resultMap id="DisqualifiedCitizenMap" type="DisqualifiedCitizen">
        <result column="ID" property="id"/>
        <result column="SEQUENCE" property="sequence"/>
        <result column="NAME_JSON" property="name" javaType="Name" jdbcType="VARCHAR"/>
        <result column="EMAIL" property="email"/>
        <result column="PHONE" property="phone"/>
        <result column="GUEST" property="guest"/>
        <result column="TIME" property="time"/>
        <result column="DISQUALIFIED_TIME" property="disqualifiedTime"/>
        <result column="METRO_ID" property="metroId"/>
        <result column="ENTITY_VERSION" property="entityVersion"/>
    </resultMap>

    <select id="findOne" resultMap="DisqualifiedCitizenMap">
        SELECT
            ID,
            SEQUENCE,
            NAME_JSON,
            EMAIL,
            PHONE,
            GUEST,
            TIME,
            DISQUALIFIED_TIME,
            METRO_ID,
            ENTITY_VERSION
        FROM
            MT_DISQUALIFIED_CITIZEN
        WHERE
            ID = #{id}
    </select>

    <select id="findByMetroId" resultMap="DisqualifiedCitizenMap">
        SELECT
            ID,
            SEQUENCE,
            NAME_JSON,
            EMAIL,
            PHONE,
            GUEST,
            TIME,
            DISQUALIFIED_TIME,
            METRO_ID,
            ENTITY_VERSION
        FROM
            MT_DISQUALIFIED_CITIZEN
        WHERE
            METRO_ID = #{metroId}
    </select>

    <delete id="delete">
        DELETE FROM MT_DISQUALIFIED_CITIZEN
        WHERE
            ID = #{id}
    </delete>
</mapper>