<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nara.metro.da.mybatis.mapper.LoginUserMapper">

    <insert id="insert">
        INSERT INTO MT_LOGIN_USER (
            ID,
            USERNAME,
            EMAIL,
            PASSWORD,
            PASSWORD_CHANGED_TIME,
            METRO_ID,
            ENTITY_VERSION
        ) VALUES (
            #{id},
            #{username},
            #{email},
            #{password},
            #{passwordChangedTime},
            #{metroId},
            #{entityVersion}
        )
    </insert>

    <select id="exists" resultType="boolean">
        SELECT EXISTS(SELECT 1
                      FROM MT_LOGIN_USER
                      WHERE ID = #{id})
    </select>

    <select id="existsByMetroIdAndUsername" resultType="boolean">
        SELECT EXISTS(SELECT 1
                      FROM MT_LOGIN_USER
                      WHERE METRO_ID = #{metroId} AND USERNAME = #{username})
    </select>

    <resultMap id="LoginUserMap" type="LoginUser">
        <result column="ID" property="id" />
        <result column="USERNAME" property="username" />
        <result column="EMAIL" property="email" />
        <result column="PASSWORD" property="password" />
        <result column="PASSWORD_CHANGED_TIME" property="passwordChangedTime" />
        <result column="METRO_ID" property="metroId" />
        <result column="ENTITY_VERSION" property="entityVersion" />
    </resultMap>

    <select id="findOne" resultMap="LoginUserMap">
        SELECT
            ID,
            USERNAME,
            EMAIL,
            PASSWORD,
            PASSWORD_CHANGED_TIME,
            METRO_ID,
            ENTITY_VERSION
        FROM MT_LOGIN_USER
        WHERE ID = #{id}
    </select>

    <select id="findByMetroIdAndEmail" resultMap="LoginUserMap">
        SELECT
            ID,
            USERNAME,
            EMAIL,
            PASSWORD,
            PASSWORD_CHANGED_TIME,
            METRO_ID,
            ENTITY_VERSION
        FROM MT_LOGIN_USER
        WHERE METRO_ID = #{metroId}
              AND EMAIL = #{email}
    </select>

    <select id="findByMetroIdAndUsername" resultMap="LoginUserMap">
        SELECT
            ID,
            USERNAME,
            EMAIL,
            PASSWORD,
            PASSWORD_CHANGED_TIME,
            METRO_ID,
            ENTITY_VERSION
        FROM MT_LOGIN_USER
        WHERE METRO_ID = #{metroId}
              AND USERNAME = #{username}
    </select>

    <select id="findByMetroId" resultMap="LoginUserMap">
        SELECT
            ID,
            USERNAME,
            EMAIL,
            PASSWORD,
            PASSWORD_CHANGED_TIME,
            METRO_ID,
            ENTITY_VERSION
        FROM MT_LOGIN_USER
        WHERE METRO_ID = #{metroId}
        ORDER BY PASSWORD_CHANGED_TIME ASC
        LIMIT #{offset}, #{limit}
    </select>

    <update id="update">
        UPDATE MT_LOGIN_USER
        SET
            USERNAME              = #{username},
            EMAIL                 = #{email},
            PASSWORD              = #{password},
            PASSWORD_CHANGED_TIME = #{passwordChangedTime},
            METRO_ID              = #{metroId},
            ENTITY_VERSION        = #{entityVersion}
        WHERE ID = #{id}
    </update>

    <delete id="delete">
        DELETE FROM MT_LOGIN_USER
        WHERE ID = #{id}
    </delete>

</mapper>